<h1>ok</h1>
<form ng-submit="vm.submit()">
  
<!-- <md-card ng-repeat="base in vm.bases"> -->
<md-card>

    <md-button type="submit" class="md-primary md-raised">Alterar base</md-button>
    <md-input-container>
		<label>Id</label>
		<input type="text" ng-model="vm.bases[0].id">
    </md-input-container>

    <md-input-container>
      <label>Nome da Base</label>
      <input type="text" ng-model="vm.bases[0].base_name">
     </md-input-container>

     <md-input-container>
      <label>Remetente E-mail</label>
      <input type="text" ng-model="vm.bases[0].base_sender">
     </md-input-container>

     <md-input-container>
      <label>Conteúdo</label>
      <input type="text" ng-model="vm.bases[0].base_content">
     </md-input-container>
     
     <md-input-container>
      <label>Periodicidade</label>
      <input type="text" ng-model="vm.bases[0].base_periodicity">
     </md-input-container>
     
     <md-input-container>
      <label>(exact) nameExternalKey</label>
      <input type="text" ng-model="vm.bases[0].base_nameExternalKey">
     </md-input-container>
     
     <md-input-container>
      <label>(exact) nameBase</label>
      <input type="text" ng-model="vm.bases[0].base_nameBase">
     </md-input-container>
     
     <md-input-container>
      <label>(exact) nameSubBase</label>
      <input type="text" ng-model="vm.bases[0].base_nameSubBase">
     </md-input-container>
  
    <md-input-container>
      <label>(exact) nameOrigin</label>
      <input type="text" ng-model="vm.bases[0].base_nameOrigin">
     </md-input-container>

     <md-input-container>
      <label>Exibir na Central de Newsletter</label>
      <input type="text" ng-model="vm.bases[0].status">
     </md-input-container>

     <md-input-container>
      <label>País</label>
      <input type="text" ng-model="vm.bases[0].base_country">
     </md-input-container>

     <md-input-container>
      <label>Último usuário que alterou</label>
      <input type="text" ng-model="vm.bases[0].base_id_user">
     </md-input-container>
  
  <h3>Canais</h3>
  <md-card ng-repeat="base in vm.bases">
     <md-input-container>
      <label>Id do Canal</label>
      <input type="text" ng-model="base.channel_id">
     </md-input-container>
    <md-input-container>
      <label>Nome do Canal</label>
      <input type="text" ng-model="base.channel_name">
     </md-input-container>
  </md-card>
  
    <md-button type="submit" class="md-primary md-raised">Alterar base</md-button>
</md-card>
</form>