<form ng-submit="vm.submit()">  
    <md-input-container>
		<select ng-model="vm.channel_id" >
			<option ng-repeat="channel in vm.channels" value="{{ channel.id }}">
		      {{ channel.channel_name }}
		    </option>
		</select>
    </md-input-container>
    <md-button type="submit" class="md-primary md-raised">Add Canal</md-button>
</form>
<md-card>assim</md-card>
<md-card ng-repeat="channel in vm.myChannels">
	<a href="http://localhost:8000/#!/channels/{{channel.id}}">
		<span>{{channel.id}}</span>
		<span>{{channel.channel_name}}</span> - 
		<span>{{channel.channel_content}}</span>
	</a>
</md-card>